#flags{
    background: url("../img/bg-flags.jpg") repeat-x;
}
#flags ul li{
    display: inline;
    text-align: center;
}
#flags ul{
    text-align: center;
}
#header{
    background: url("../../webroot/img/bg-header.jpg");
    vertical-align: top;
}
/*Search*/

#search{
    margin: 15px 0px 0px ;
}
#custom-search-input{
    border: 1px solid #E4E4E4;
    padding: 3px;
    background: white;
    border-radius: 6px;
}
#custom-search-input input{
    border: none;
    box-shadow: none;
    font-size: 15px;
}
#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search{
    font-size: 23px;
    color: red;
}
/*Navigation*/
#search{
    margin: 15px 0px 0px ;
}

/*Home*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.main-menu nav {
    background: url("../../webroot/img/bg-nav.png") repeat-x;
}
div.container-fluid {
    padding: 0px;
}
.main-menu nav li{
    background: url("../../webroot/img/bg-nav-02.png") repeat-x;
}
.main-menu ul.nav:before{
     background: url("../../webroot/img/bg-nav-01.png") no-repeat;
     width: 55px;
     content: " ";
     float: left;
     height: 50px;
 }
.main-menu ul.nav:after{
    background: url("../../webroot/img/bg-nav-03.png") no-repeat;
    width: 100px;
    content: " ";
    float: right;
    height: 50px;
    clear: none;
}
/*Footer*/
#footer{
    background: url("../../webroot/img/bg-footer.jpg") repeat-x;
    height: 75px;
    color: white;
    padding-top: 10px;

}
/*Home Page*/
.gioithieu-panel img{
    float: left;
}
.list-news ul li{
    list-style: none;
    padding-left: 0px;
}
.list-news ul {
    padding-left: 0px;
}
.list-news li:before{
    content: " ";
     background: url("../../webroot/img/bg-list-style.png") no-repeat;
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin-top: 8px;
 }